@import url("https://use.typekit.net/yqd0xef.css");
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
/* Color Theme Swatches in RGBA
{ color: rgba(37, 37, 38, 1); }
{ color: rgba(93, 118, 140, 1); }
{ color: rgba(125, 200, 216, 1); }
{ color: rgba(234, 241, 242, 1); }
{ color: rgba(140, 97, 88, 1); }
 */

/* Base Styles */
* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}
html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
p {
    margin: 0;
}

section {
    padding: 60px 0;
}

body {
  font-family: ff-basic-gothic-pro, sans-serif;
  font-weight: 500;
  color: rgba(37, 37, 38, 1) !important;
}

/* navbar */
.navbar {
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 600;
    color: rgba(37, 37, 38, 1) !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    font-weight: 700;
}

/* box styling */
.bg-pad {
    padding: 8px;
    border-width: 0.1rem;
    border-style: solid;
    color: rgba(37, 37, 38, 1) !important;
    }
}

.bdbc {
  box-decoration-break: clone;
}

/* carousel */
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* About */
.section-heading h1 {
    font-family: "Niconne", cursive;
    color: #c69963;
}

.section-heading h4 {
    text-transform: uppercase;
    line-height: 0;
    letter-spacing: 1px;
}

.lead {
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 400;
}

.about .btn {
    width: 150px;
    color: #fff !important;
    background-color: #c69963;
    transition: background-color 650ms;
}
/* cards */
.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.card-title {
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 600;
    color: rgba(37, 37, 38, 1) !important;
}

.card-text {
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 300;
    color: rgba(37, 37, 38, 1) !important;
}

.card-footer .btn {
    width: 150px;
    color: #fff !important;
    background-color: #c69963;
    transition: background-color 650ms;
}

#sticky-footer {
  flex-shrink: none;
  font-family: ff-basic-gothic-pro, sans-serif;
  font-weight: 600;
  color: rgba(37, 37, 38, 1) !important;
}

/* Login Page */
.login {
  	width: 300px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1 {
  	text-align: center;
  	color: rgba(37, 37, 38, 1) !important;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: rgba(37, 37, 38, 1);
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: rgba(37, 37, 38, 1);
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: rgba(37, 37, 38, 1);
  	transition: background-color 0.2s;
}

/* Register Page */
.register {
  	width: 300px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.register h1 {
  	text-align: center;
  	color: rgba(37, 37, 38, 1) !important;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.register form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.register form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: rgba(37, 37, 38, 1);
  	color: #ffffff;
}
.register form input[type="password"], .register form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.register form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: rgba(37, 37, 38, 1);
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
	background-color: rgba(37, 37, 38, 1);
  	transition: background-color 0.2s;
}

/* Color Theme Swatches in RGBA
{ color: rgba(37, 37, 38, 1); }
{ color: rgba(93, 118, 140, 1); }
{ color: rgba(125, 200, 216, 1); }
{ color: rgba(234, 241, 242, 1); }
{ color: rgba(140, 97, 88, 1); }
 */
